@model BookStore.Models.ViewModels.Account.UserNavPartialViewModel

<div class="col-5">
    <a class="nav-link" href="/Account/user-profile" style="text-decoration: none; font-weight: bold;">@Model.FirstName&nbsp;@Model.LastName</a>
</div>
