
@{
    ViewBag.Title = "Dashboard";
}

<h2 class="pb-4">Административаная Панель</h2>

<div class="row justify-content-center">

    <div class="col-4">
        <a class="btn btn-primary" href="/Admin/Pages/PagesList" style="width: 100%; margin-bottom: 10px">Страницы</a>
    </div>
</div>

<div class="row justify-content-center">

    <div class="col-4">
        <a class="btn btn-primary" href="/Admin/Pages/EditSideBar" style="width: 100%; margin-bottom: 10px">Боковые панели</a>
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-4">
        <a class="btn btn-primary" href="/Admin/Shop/Categories" style="width: 100%; margin-bottom: 10px">Категории</a>
    </div>

</div>

<div class="row justify-content-center">

    <div class="col-4">
        <a class="btn btn-primary" href="/Admin/Shop/Products" style="width: 100%; margin-bottom: 10px">Товары</a>
    </div>

</div>


