@model IEnumerable<BookStore.Models.ViewModels.Shop.CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Категории</h2>

@if (TempData["SuccessfulMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessfulMessage"]
    </div>
}

<div class="new-cat">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Имя категории</span>
        </div>
        <input type="text" id="new-cat-name" class="form-control" />
    </div>
    <p>
        <a href="#" id="newcata" class="btn btn-success">Добавить новую категорию</a>
        <span class="ajax-text">
            <img src="~/Source files/loading.gif" height="80" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h1 class="text-center">Не существует ни одной категории</h1>
}
else
{
    <table class="table sorting" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="container">
                        <!--Добавляем уведомление об изменении категории-->
                        <div class="row">
                            <div class="col">
                                <div class="ajaxdivtd">

                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-1">
                                <div class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top: 10px;"> </div>
                            </div>

                            <div class="col-4">
                                @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                        </div>
                    </div>
                </td>
                <td>
                    @Html.ActionLink("Удалить", "DeleteCategory", new { id = item.Id }, new { @class = "delete btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}

@section Scripts
{
    <!--Подключаем JS скрипт (с использованием JQuery) для всяческих внешних штучек при изменении категорий-->
    <script src="~/Scripts/customScripts/CategoryScript.js"></script>
}